

$dark_background_text: #ecf0f1;
$input_padding: 5px;
$input_text_padding: 5px;

$input_border_radius: 10px;


textarea {
  color: $dark_background_text;
  min-height: 75px;
  flex: 1;
}

input {
  border: none;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  // grid-auto-rows: 125px;
  width: 95vw;
  margin: 100px auto 0 auto;
}

.form_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.input, .title, .subtitle {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  margin: 5px 0;
  // border: 1px dashed skyblue;
  border: 1px solid #bec3c7;
  border-radius: $input_border_radius;
  background: #ecf0f1;
  padding: 0 $input_padding $input_padding $input_padding;
  box-shadow: 0px 14px 26px rgba(0,0,0,.04);
  & .alignment {
    border: 1px dashed tomato;
  }
}

.title {
  padding: $input_padding;
  & input {
    font-size: 24px;
    text-align: center;
    background: #ecf0f1;
    border-radius: $input_border_radius;
    padding: $input_text_padding;
  }
}

.subtitle {
  padding: $input_padding;
  & textarea {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: $input_border_radius;
    padding: $input_text_padding;
  }
}

.text_input {
  & input {
    padding: $input_text_padding;
    border-radius: $input_border_radius $input_border_radius 0 0;
  }
  & textarea {
    border-radius: 0 0 $input_border_radius $input_border_radius;
    padding: $input_text_padding;
  }
  & .subhead {
    padding: $input_text_padding * 2;
    border-radius: $input_border_radius $input_border_radius 0 0;
  }
}


.image_input {
  & input {
    padding: $input_text_padding * 2;
    &.image_input--alt {
      padding: $input_text_padding * 2;
      border-radius: 0 0 $input_border_radius $input_border_radius;
    }
    &.image_input--src {
      padding: $input_text_padding * 2;
      border-radius: $input_border_radius $input_border_radius 0 0;
    }
  }
  & .subhead {
    padding: $input_text_padding * 2;
    border-radius: $input_border_radius $input_border_radius 0 0;
  }
  .image_input__container {
    display: flex;
    flex-direction: row;
    .image_input__group {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .image_input__preview {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .image_input__preview--img {
        max-width: 100%;
        max-height: 300px;
      }
    }
  }
}

.align {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0 5px 10px;
  & label div {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  & .align_radio {
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: absolute;
   top: 5px;
   left: 5px;
  }
  li {
    $dark: rgba(22,160,134,1);
    $light: rgba(27,188,155,.5);
    $lighter: rgba(27,188,155,.2);
    display: inline-block;
    border: 1px solid $light;
    border-radius: 10px;
    transition: .1s linear;
    &.align_active {
      border: 1px solid $dark;
      background: $light;
    }
    &:hover {
      background: $lighter;
    }
  }
  & * {
    color: black;
  }
}

svg * {
  transform: scale(.95);
}

.align_icon_1 {
  fill: #fff;
}

.align_icon_2, .align_icon_4 {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 7px;
}

.align_icon_2 {
  stroke: #7e8c8d;
  stroke-linecap: square;
  stroke-dasharray: 9.77 9.77;
}

.align_icon_3 {
  fill: #3c97d3;
}

.align_icon_4 {
  stroke: #297fb9;
  stroke-linecap: round;
}

.Layer_1 {
  width: 50px;
  height: 50px;
}

.input_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $input_padding;
  & .control_drag {
    width: 25px;
    height: 25px;
    background: #bec3c7;
    border: 1px solid #bec3c7;
    color: #7e8c8d;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    &:hover {
      color: #545e5f;
      box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    }
  }
  & .control_text {
    color: black;
    padding: 0;
    margin: 0;
  }
  & .control_delete {
    background: rgba(0,0,0,0);
    border: none;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: .25s linear;
    cursor: pointer;
    &:hover {
      border: 1px solid #bec3c7;
      // background: #bec3c7;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    }
  }
}

.input {
  &.large        { grid-column: 1 / -1; }
  &.medium_left  { grid-column: 1 / -2; }
  &.medium_right { grid-column: 2 / -1; }
  &.small_left   { grid-column: 1; }
  &.small_center { grid-column: 2; }
  &.small_right  { grid-column: 3; }
}

.form_submit {
  grid-column: 3;
  // border: 1px dashed tomato;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  & button {
    $light: rgba(45,204,112,1);
    $lighter: rgba(39, 174, 97,.5);
    $dark: rgba(39, 174, 97,1);
    border: 3px solid rgba(0,0,0,0);
    min-width: 75px;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    &.save {
      background: rgba(0,0,0,0);
      color: $light;
      &:hover {
        border: 3px solid $light;
        text-decoration: underline;
        color: $dark;
      }
    }
    &.submit {
      border: 3px solid $light;
      background: $dark;
      color: #ecf0f1;
      &:hover {
        text-decoration: underline;
        border: 3px solid $dark;
        background: $light;
        color: #ecf0f1;
      }
    }
  }
  &.sticky {
    position: static;
    flex-direction: row;
    grid-column: 2;
  }
}

// .input {
//   & > *:first-child {
//     border-radius: 0px 0px 10px 10px;
//   }
//   & > *:last-child {
//     border-radius: 0px 0px 10px 10px;
//   }
// }

.drag_active {
  & > * {
    opacity: .35;
  }
  border: 1px solid skyblue;
  background: linear-gradient(45deg, #bec3c7, #ecf0f1);
  box-shadow: 0px 24px 36px rgba(0,0,0,.11), 0px 24px 46px rgba(20,33,55,.28);
}
