

$dark_background_text: #ecf0f1;



textarea {
  color: $dark_background_text;
  min-height: 75px;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  // grid-auto-rows: 125px;
  width: 95vw;
  margin: 100px auto 0 auto;
}

.input, .title, .subtitle {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  margin: 5px 0;
  border: 1px dashed skyblue;
  padding: 10px;
}

.input_control {
  display: flex;
  justify-content: space-between;
  & .control_drag {
    width: 25px;
    height: 25px;
    background: green;
  }
  & .control_text {
    color: $dark_background_text;
    padding: 0;
    margin: 0;
  }
}

.drag_active {
  & > * {
    opacity: .35;
  }
  border: 1px solid skyblue;
  background: linear-gradient(45deg, #bec3c7, #ecf0f1);
}
