
$light_background_text: #2d3e50;
$light_background_colour: linear-gradient(-45deg, #cecede, #f6fefc);
$light_background_colour: linear-gradient(-45deg, #f0f0f5, #fafefd);
// $light_background_colour: linear-gradient(135deg, red, blue);

$dark_background_text: #ecf0f1;
$dark_background_colour: #223;

$nav_background: #666699;
$nav_background--hover: linear-gradient(45deg, #1bbc9b, #9a59b5);

* {
  font-family: arial, helvetica, sans-serif, 'open sans';
  color: $light_background_text;
}

html, body, textarea, select {
  background: $light_background_colour;
  font-family: helvetica, arial;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure {
  text-align: center;
}

button, input, textarea {
  color: black;
}

a {
  text-decoration: none;
  transition: .1s linear;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.main {
  margin-top: 50px;
  padding: 50px;
}

.no_show {
  opacity: 0;
}

.hide {
  display: none;
}

p {
  margin: 0;
  padding: 10px;
}

.nav {
  $nav_general_transition: .3s;
  width: 100%;
  box-sizing: border-box;
  background: $nav_background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transition: all $nav_general_transition linear;
  & ul {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all $nav_general_transition linear;
    & div {
      display: flex;
      flex-direction: row;
      & li {
        transition: all $nav_general_transition linear;
        background: rgba(0,0,0,0);
        & a {
          color: #ecf0f1;
          text-decoration: none;
          transition: all $nav_general_transition linear;
          display: block;
          padding: 10px 20px;
        }
        &:hover {
          background: $nav_background--hover;
          & a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
