
$light_background_text: #2d3e50;
$light_background_colour: linear-gradient(-45deg, #cecede, #f6fefc);
$light_background_colour: linear-gradient(-45deg, #f0f0f5, #fafefd);
// $light_background_colour: linear-gradient(135deg, red, blue);

$dark_background_text: #ecf0f1;
$dark_background_colour: #223;

$nav_background: #666699;
$nav_background--hover: linear-gradient(45deg, #1bbc9b, #9a59b5);
$danger_red: rgba(232, 76, 61, 1);
$danger_red_dark: rgba(193, 57, 43, 1);

* {
  font-family: arial, helvetica, sans-serif, 'open sans';
  color: $light_background_text;
}

html, body, textarea, select {
  background: $light_background_colour;
  font-family: helvetica, arial;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure {
  text-align: center;
}

button, input, textarea {
  color: black;
}

a {
  text-decoration: none;
  transition: .1s linear;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.main {
  margin-top: 50px;
  padding: 50px;
}

.no_show {
  opacity: 0;
}

.hide {
  display: none;
}

p {
  margin: 0;
  padding: 10px;
}

.post {
  position: relative;
}

.nav {
  $nav_general_transition: .3s;
  $nav_height: 40px;
  width: 100%;
  box-sizing: border-box;
  background: $nav_background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transition: all $nav_general_transition linear;
  height: $nav_height;
  box-shadow: 10px 10px 30px rgba(1,1,1,.1);
  & ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all $nav_general_transition linear;
    & div {
      display: flex;
      flex-direction: row;
      & li {
        transition: all $nav_general_transition linear;
        background: rgba(0,0,0,0);
        // display: flex;
        // align-items: center;
        // justify-content: center;
        & a {
          height: 100%;
          color: #ecf0f1;
          text-decoration: none;
          transition: all $nav_general_transition linear;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20px;
        }
        &:hover {
          background: $nav_background--hover;
          & a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notifier {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #222;
  z-index: 990;
  border-radius: 10px;
  transform: translateY(100%);
  transition: .05s linear;
  opacity: 0;
  &.show {
    transition: .1s linear;
    opacity: 1;
    transform: translateY(0);
  }
  &.fade {
    animation: fadeOut 1s linear;
  }
  p, span {
    color: #ecf0f1;
    word-break: break-all;
  }
}

.modify {
  $icon_diameter: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .icon svg {
    width: $icon_diameter;
    height: $icon_diameter;
  }
  .delete_control {
    .delete_form {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,.3);
      border-radius: 20px;
      .wrapper {
        background: white;
        box-shadow: 5px 5px 20px rgba(0,0,0,.7);
        padding: 20px;
        border: 3px solid $danger_red;
        border-radius: 20px;
        p {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 20px;
        }
        .opt {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            padding: 6px 10px;
            border-radius: 12px;
            cursor: pointer;
            font-weight: 600;
            transition: .1s linear;
          }
          .delete {
            background: rgba(0,0,0,0);
            border: 2px solid rgba(0,0,0,0);
            color: $danger_red;
            &:hover {
              background: $danger_red;
              border: 2px solid $danger_red_dark;
              color: white;
              text-decoration: underline;
            }
          }
          .cancel {
            background: rgba(0,0,0,0);
            border: 2px solid rgba(53, 152, 219, 1);
            padding: 10px 20px;
            &:hover {
              background: rgba(53, 152, 219, 1);
              border: 2px solid rgba(53, 152, 219, 1);
              color: white;
            }
          }
        }
      }
      &.hide {
        display: none;
      }
    }
  }
}

.icon {
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
  margin-right: 4px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  svg {
    height: 90%;
    width: 90%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    .editIcon-1, .editIcon-2 {
      fill: none;
      stroke: #34495e;
      stroke-miterlimit: 10;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
      fill: #fff;
      -webkit-transition: fill .2s ease;
      -o-transition: fill .2s ease;
      transition: fill .2s ease;
    }
    .editIcon-1 {
      stroke-width: 1.11px;
    }
    .editIcon-2 {
      fill: #fff;
      stroke-width: 10px;
    }
    .deleteIcon-1, .deleteIcon-2, .deleteIcon-3 {
      stroke: #34495e;
      stroke-miterlimit: 10;
      fill: #fff;
      -webkit-transition: fill .2s ease;
      -o-transition: fill .2s ease;
      transition: fill .2s ease;
    }
    .deleteIcon-1 {
      stroke-width: 1.11px;
    }
    .deleteIcon-2, .deleteIcon-3 {
      stroke-width: 10px;
    }
    .deleteIcon-3 {
      stroke-linecap: round;
    }
    &:hover {
      .editIcon-2 {
        // fill: #9a59b5;
        fill: #e67f22;
      }
      .deleteIcon-2, .deleteIcon-3 {
        fill: #e84c3d;
        stroke: #c1392b;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main {
    padding: 24px;
  }
}
