

<nav class="nav">
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <li class="new_post"><a href="/posts/new">New Post</a></li>
    <li class="account"><a href="/">Account</a></li>
  </ul>
</nav>
