

<nav class="nav">
  <ul>
    <% if (!user) { %>
      <div class="">
        <li class="home"><a href="/"><%= blog_name %> Home</a></li>
      </div>
      <div class="">
        <!-- <li class="login"><a href="/auth/login">Admin</a></li> -->
        <li class="folio"><a href="https://oddert.github.io/">Portfolio</a></li>
        <li class="cv"><a href="https://oddert.github.io/Robyn%20Veitch%20CV%20-%20Website.pdf">CV</a></li>
        <li class="about"><a href="/user/oddert">About</a></li>
      </div>
    <% } else { %>
      <div class="">
        <li class="home"><a href="/"><%= blog_name %> Home</a></li>
        <li class="new_post"><a href="/posts/new">New Post</a></li>
      </div>
      <div class="">
        <li class="logout"><a href="/auth/logout">Logout</a></li>
        <li class="account"><a href="/user/<%= user.username %>"/><%= user.username %></a></li>
      </div>
    <% } %>
  </ul>
</nav>
