
$project--height: 200px;

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'open sans';
  font-weight: 400;
}

body, html {
  background: white;
}

a {
  color: #337ab7;
  &:hover {
    color: #23527c;
  }
}

svg {
  & * {
    font-family: "poiret One", "Roboto", "Kozuka Gothic Pr6N", arial, helvetica;
  }
  .logo-1 {
    fill: none;
    stroke: #2d3d50;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }
  .logo-2 {
    font-size: 124px;
  }
  .logo-2, .logo-5 {
    fill: #231f20;
    font-family: "poiret One", "Roboto", "Kozuka Gothic Pr6N", arial, helvetica;
  }
  .logo-3 {
    white-space: pre;
    // font-weight: 600;
  }
  .logo-4 {
    letter-spacing: -17px;
  }
  .logo-5 {
    font-size: 34px;
  }
  .logo-6, .logo-7 {
    font-size: 35px;
    font-family: "poiret One", "Roboto", "Kozuka Gothic Pr6N", arial, helvetica;
  }
  .logo-6 {
    letter-spacing: -8px;
  }
}

header {
  $logo_height: 80%;
  $nav_height: 50px;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100vh;
    z-index: 150;
    .drop_toggle {
      display: none;
      // display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      right: 0;
      height: $nav_height;
      width: $nav_height;
      background: #fff;
      border: none;
      cursor: pointer;
      i {
        transition: .2s linear;
      }
      &.open {
        i {
          transform: rotate(180deg);
        }
      }
    }
    .menu {
      position: fixed;
      top: 0px;
      right: 0px;
      height: $nav_height;
      display: flex;
      align-items: stretch;
      justify-content: center;
      transition: .2s linear;
      background: #fff;
      .drop_toggle {
        display: none;
      }
      .menu_item {
        height: $nav_height;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        text-decoration: none;
        transition: .2s linear;
        span {
          font-weight: 700;
          transition: .2s linear;
          line-height: $nav_height;
          font-family: 'poiret one', arial;
          font-size: 18px;
          color: #333435;
        }
        &:hover {
          span {
            color: #9744e8;
          }
        }
      }
      &.drop {
        flex-direction: column;
        height: auto;
        top: $nav_height;
        // overflow-y: scroll;
        width: 100%;
        .menu_item {
          transition: .1s linear;
          &:hover {
            background: #ecf0f1;
          }
        }
        &.closed {
          display: none;
        }
      }
    }
    .logo_cover {
      transition: .2s linear;
      // outline: 1px solid red;
      box-shadow: 10px 10px 30px rgba(1,1,1,.1);
      height: 100%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transition: .2s linear;
        width: $logo_height;
        // height: 100%;
        max-width: $logo_height;
        max-height: $logo_height;
      }
    }
    &.nav_bar {
      width: 100%;
      .logo_cover {
        justify-content: flex-start;
        svg {
          width: $nav_height;
          transform: rotate(45deg);
          & * {
            // stroke-miterlimit: 50;
            stroke-width: 8px;
          }
          tspan {
            display: none;
          }
        }
      }
    }
  }
}

section {
  min-height: 100vh;
  // outline: 1px solid red;
  // box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &#intro_hidden .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.portfolio .content {
    // margin-top: 100vh;
    .folio_title {
      text-align: center;
      font-family: 'open sans', 'roboto', 'poiret one', arial, helvetica;
      font-size: 36px;
      line-height: 40px;
      color: #2d3e50;
      margin: 80px 0;
      // font-weight: 500;
      letter-spacing: 3px;
    }
    .folio_items {
      $folio_trans: .15s ease;
      $folio_trans: .3s ease-in-out;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: $project--height;
      text-align: center;
      & * {
        text-decoration: none;

      }
      .project {
        text-decoration: none;
        border: 1px solid #ecf0f1;
        height: $project--height;
        background-repeat: no-repeat;
        background-position: center;
        // background-attachment: fixed;
        background-size: cover;
        position: relative;
        overflow: hidden;
        .project__title {
          transition: $folio_trans;
          margin: 0;
          text-align: center;
          width: 100%;
          color: #fff;
          background: rgba(1,1,1,.6);
          font-family: 'roboto thin', 'open sans', 'poiret one', helvetica, arial;
          font-size: 30px;
          // position: absolute;
          position: relative;
          // top: 50%;
          transform: translateY(-50%);
          margin-top: calc(200px/2);
          // margin-top: calc($project--height/2);
          // z-index: 100;
          text-decoration: none;
        }
        .project__description {
          transition: $folio_trans;
          font-size: 14px;
          font-family: helvetica, arial, sans-serif;
          // position: absolute;
          position: relative;
          // top: 100%;
          margin-top: 100%;
          // z-index: 101;
          text-decoration: none;
        }
        .cover {
          opacity: 0;
          background: linear-gradient(0deg, rgba(1,1,1,.85), rgba(1,1,1,.45));
          transition: $folio_trans;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:hover {
          .project__title {
            // top: 5%;
            transform: none;
            background: none;
            margin-top: 10px;
          }
          .project__description {
            // top: 30%;
            color: #fff;
            // position: static;
            margin-top: 10px;
          }
          .cover {
            opacity: 1;
          }
        }
      }
      .code_expo {
        grid-column: 1 / -1;
        grid-row: span 2;
        font-family: helvetica;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 100px;
        .code_expo__wrapper {
          box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.1);
          border-radius:  20px;
          padding: 10px;
        }
      }
    }
  }
  &.bio .content {
    margin: 100px auto 0 auto;
    width: 85vw;
    .personal_title {
      display: flex;
      .personal_title__text {
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 30px;
          .blink {
            animation: blink 1s infinite;
          }
        }
      }
      .personal_title__image {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          box-shadow: 10px 10px 30px rgba(1, 1, 1, 0.2);
        }
      }
    }
    .biography {
      display: flex;
      align-items: center;
      justify-content: center;
      .biography__text {
        background: #f4f4f4;
        border-radius: 20px;
        padding: 20px;
        font-size: 20px;
        font-family: verdana, arial;
        margin: 60px 0 80px 0;
        width: 50vw;
        line-height: 29px;
        color: #333;
        & > a {
          padding: 10px;
        }
      }
      .mailto-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .mailto {
          grid-column: 2;
          text-align: center;
          margin: 20px 0;
          background: rgba(0,0,0,0);
          border: 2px solid #2dcc70;
          border-radius: 20px;
          padding: 16px;
          transition: .2s linear;
          &:hover {
            background: #2dcc70;
            box-shadow: 0px 0px 30px rgba(39, 174, 97, .3);
            color: #fff;
          }
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .social_media {
        width: 55vw;
        display: flex;
        align-items: stretch;
        justify-content: center;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 10px 10px 30px rgba(1, 1, 1, 0.1);
        a {
          flex: 1;
          text-align: center;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          transition: .2s linear;
          position: relative;
          font-size: .8em;
          &.linkedin {
            background: #0077B5;
            & * { color: white; }
          }
          &.github {
            background: #FFFFFF;
          }
          &.fcc {
            background: #006400;
            & * { color: white; }
          }
          &:hover {
            flex: 3;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s linear;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
          }
        }
      }
      .links_indicator {
        // opacity: 0;
        margin-top: 20px;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        top: 40px;
        color: #bec3c7;
        // left: 0;
      }
    }
    .contact {
      margin: 80px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 24px;
      }
    }
  }
}

footer .content {
  box-shadow: 0px -15px 20px rgba(1, 1, 1, 0.1);
  padding: 20px;
  text-align: center;
  .signature {
    font-size: 18px;
    margin: 10px 0;
  }
  .copyright {
    font-size: 14px;
    margin: 10px 0;
  }
}



@keyframes blink {
  0%   { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  99%  { opacity: 0; }
  100% { opacity: 1; }
}


@media only screen and (max-width: 1000px) {
  section.bio .content {
    width: 90vw;
    .biography .biography__text {
      width: 80vw;
    }
    .links .social_media {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 850px) {
  section.portfolio .content .folio_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 765px) {
  header {
    $logo_height: 80%;
    $nav_height: 50px;
    nav {
    .drop_toggle {
      display: flex;
    }
      .menu {
        flex-direction: column;
        height: auto;
        top: $nav_height;
        // overflow-y: scroll;
        width: 100%;
        .menu_item {
          transition: .1s linear;
          &:hover {
            background: #ecf0f1;
          }
        }
        &.closed {
          display: none;
        }
      }
      &.nav_bar {
        width: 100%;
        .logo_cover {
          justify-content: flex-start;
          svg {
            width: $nav_height;
            transform: rotate(45deg);
            & * {
              // stroke-miterlimit: 50;
              stroke-width: 8px;
            }
            tspan {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  section.portfolio .content .folio_items {
    grid-template-columns: 1fr;
  }
}


















//
