
$dark_background_text: #ecf0f1;
$light_background_text: #2d3e50;
$bio_height: 100px;

$text_color: $light_background_text;

.profile_background {
  background: #334;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  text-align: center;
}

// .hide {
//   display: inherit;
//   opacity: 1;
// }

.profile_details {
  position: relative;
  box-shadow: 0 -10px 10px rgba(0,0,0,.1);
  .title_edit {
    & input {
      font-size: 2em;
      background: rgba(0,0,0,0);
      border: none;
      padding: 0;
      margin: .67em 0;
      color: $dark_background_text;
      font-weight: bold;
      border-bottom: 1px dashed $dark_background_text;
    }
  }
  .bio {
    width: 60vw;
    border: 1px solid #bec3c7;
    border-radius: 10px;
    word-break: break-all;
    white-space: pre-line;
    margin: 0 auto;
    .bio_edit {
      .bio_edit__input {
        color: $text_color;
        box-sizing: border-box;
        width: 100%;
        height: $bio_height;
        border: none;
        border-radius: 10px;
      }
    }
  }
  .profile_details__content {
    transform: translateY(-10vh);
    text-align: center;
  }
  .profile_details__image {
    margin: 0 auto;
    $profile_image_diameter: 175px;
    width: $profile_image_diameter;
    height: $profile_image_diameter;
    overflow: hidden;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    img {
      margin: 5%;
      max-width: 90%;
      object-fit: fill;
      border-radius: 50%;
    }
  }
}
