<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <form action="/api/tester" method="POST">
      <textarea name="paragraphs[0]" rows="8" cols="80"></textarea>
      <textarea name="paragraphs[1]" rows="8" cols="80"></textarea>
      <textarea name="paragraphs[2]" rows="8" cols="80"></textarea>
      <textarea name="paragraphs[3]" rows="8" cols="80"></textarea>
      <textarea name="paragraphs[4]" rows="8" cols="80"></textarea>
      <div class="">
        <input type="checkbox" name="page" value="false">
        <button name="button">Submit</button>
      </div>
    </form>
  </body>
</html>
