<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="main">
      <h1 class="title">View all posts:</h1>
      <div class="posts">
        <% posts.forEach(each => { %>
          <h3><a href="/post/<%= each._id %>"><%= each.title %></a></h2>
        <% }) %>
      </div>
      <a href="/post/new">Create a new Post</a>
    </div>
  </body>
</html>
