<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <h1>View all posts:</h1>
    <div class="">

    </div>
    <a href="/post/new">Create a new Post</a>
  </body>
</html>
