<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="new_buttons">
      <button class="new new_paragraph" name="new_paragraph">New Paragraph</button>
      <button class="new new_image" name="new_image">New Image</button>
    </div>
    <form action="/api/tester" method="POST" class="form">
      <div>
        <div>
          <input id="page_check" type="checkbox" name="page" value="false">
          <label for="page_check">Show a page display (not json)</label>
        </div>
        <button>Submit</button>
        <button class="sample_data">Sample Data</button>
      </div>
      <div class="form_body">
        <div class="title">
          <input type="text" name="title" placeholder="The title of the post, will default to 'Blog Post' if left blank." />
        </div>
        <div class="subtitle">
          <textarea name="subtitle" placeholder="A subtitle for the post, leave blank to ommit."></textarea>
        </div>
      </div>
    </form>
  </body>
  <script type="text/javascript" src="/js/master.js"></script>
  <script type="text/javascript" src="/js/name.js"></script>
</html>
