<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <h1>Title</h1>
    <% items.forEach(item => { %>

      <% if (item.data_type == "paragraph") { %>
        <% item.text.forEach(section => { %>
          <p><%= section %></p>
        <% }) %>
        <hr />
      <% } %>

      <% if (item.data_type == "image") { %>
        <figure class="image">
          <img src="<%= item.src %>" alt="<%= item.alt %>">
          <figcaption><%= item.caption %></figcaption>
        </figure>
        <hr />
      <% } %>

    <% }) %>
  </body>
</html>
