.intro_card {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #13c9ac, #7C6CBE, #a04dc5);
  height: 50vh;
  box-shadow: inset 0px -6px 20px rgba(0, 0, 0, 0.3);
  transition: 0.2s linear;
}
.intro_card .intro_text {
  transition: 0.2s linear;
  flex: 2;
  text-align: center;
}
.intro_card .intro_text h1 {
  text-shadow: 0 0 10px #fefdeb;
  font-size: 5vh;
  cursor: default;
}
.intro_card .intro_pic {
  transition: 0.2s linear;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.intro_card .intro_pic img {
  transition: 0.2s linear;
  filter: grayscale(1) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
  height: 90%;
  width: auto;
  object-fit: contain;
}
.intro_card .intro_pic img:hover {
  filter: grayscale(0) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

.main {
  margin-top: 0;
}

.title {
  text-align: center;
}

.posts {
  width: 60vw;
  margin: 0 auto;
}
.posts .post {
  transition: 0.2s linear;
  border: 1px solid #bec3c7;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  margin: 20px 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.posts .post a {
  border-radius: 20px 20px 0 0;
}
.posts .post .image {
  transition: 0.2s linear;
  flex: 1;
  background: white;
  text-align: center;
  max-height: 350px;
  position: relative;
  margin: 0;
}
.posts .post .image img {
  height: 350px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.posts .post .details {
  transition: 0.2s linear;
  padding: 20px 40px;
  flex: 1;
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
}
.posts .post .details .details_primary {
  flex: 3;
  padding-right: 20px;
  border-right: 1px solid #bec3c7;
}
.posts .post .details .details_primary h3 {
  margin-top: 0;
}
.posts .post .details .details_primary .read_button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.posts .post .details .details_primary .read_button a {
  transition: 0.1s linear;
  border: 1px solid #bec3c7;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.2s linear;
  background: rgba(0, 0, 0, 0);
}
.posts .post .details .details_primary .read_button a i {
  transition: 0.1s linear;
  transition: 0.2s linear;
  background: rgba(0, 0, 0, 0);
}
.posts .post .details .details_primary .read_button a:hover {
  background: linear-gradient(45deg, #1bbc9b, #9a59b5);
  color: #ecf0f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.posts .post .details .details_primary .read_button a:hover i {
  color: #ecf0f1;
}
.posts .post .details .details_primary .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
}
.posts .post .details .details_primary .tags .tag {
  padding: 4px 8px;
  margin: 5px;
  border-radius: 6px;
  background: #9a59b5;
  border-bottom: 4px solid #8d44ad;
  display: flex;
  justify-content: center;
  color: #ecf0f1;
}
.posts .post .details .details_primary .tags .tag:hover {
  margin-bottom: 1px;
  border-bottom: 4px solid #8d44ad;
}
.posts .post .details .details_meta {
  padding-left: 20px;
  flex: 1;
}
.posts .post .details .details_meta .details_author {
  margin-top: 0;
}
.posts .post .details .details_meta .details_read_time {
  margin-top: 8px;
}
.posts .post .details > * {
  padding: 0;
}
.posts .post .details p {
  margin: 0;
  padding: 0;
}
.posts .post:hover {
  border: 1px solid #ecf0f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 5px 0 20px rgba(0, 0, 0, 0), -5px 0 20px rgba(0, 0, 0, 0);
}
.posts.experimental .post {
  margin: 30px 0;
}
.posts.experimental .post .image {
  background: none;
}
.posts.experimental .post .image img {
  border-radius: 4px;
  width: 94%;
  transform: translateY(-10px);
}

@media only screen and (max-width: 850px) {
  .posts {
    width: auto;
  }
  .posts .post {
    flex-direction: column;
  }
}

/*# sourceMappingURL=css/index.css.map */
