article.main {
  width: 60vw;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

figcaption {
  padding: 10px 20px 0;
  text-align: center;
}

.header_image {
  grid-column: 1/-1;
  position: relative;
  margin: 40px 0 0 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header_image img {
  flex: 1;
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.paragraph, .image, .title, .subtitle {
  grid-column: 1/-1;
}

hr {
  grid-column: 1/-1;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;
}
.paragraph:first-of-type {
  font-size: 1.2em;
  text-align: center;
}

blockquote {
  border-left: 5px solid #bec3c7;
  padding: 20px 0 20px 20px;
  word-break: break-all;
  margin: 18px 60px;
}
blockquote footer {
  padding: 10px 0 10px 30px;
}
blockquote > * {
  word-break: break-all;
}

.image img {
  width: 100%;
}
.image figcaption {
  text-align: center;
}

.details {
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
  margin-bottom: 40px;
}
.details .details_wrapper {
  border: 1px solid #bec3c7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}
.details .details_wrapper .details_text {
  flex: 1;
}
.details .details_wrapper .details_image {
  position: relative;
  margin-right: 20px;
}
.details .details_wrapper .details_image figure {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
}
.details .details_wrapper .details_image figure img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover;
}

.article_social {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}
.article_social .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.article_social .links .social {
  border: 2px solid;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.1s linear;
}
.article_social .links .social i {
  font-size: 30px;
}
.article_social .links .social.twitter {
  border-color: #1DA1F2;
}
.article_social .links .social.twitter:hover {
  border-color: #ecf0f1;
  color: #1DA1F2;
  box-shadow: 0 0 10px #1DA1F2;
}
.article_social .links .social.twitter:hover i {
  color: #1DA1F2;
}
.article_social .links .social.facebook {
  border-color: #4267B2;
}
.article_social .links .social.facebook:hover {
  border-color: #ecf0f1;
  color: #4267B2;
  box-shadow: 0 0 10px #4267B2;
}
.article_social .links .social.facebook:hover i {
  color: #4267B2;
}
.article_social .links .social.linkedin {
  border-color: #0077B5;
}
.article_social .links .social.linkedin:hover {
  border-color: #ecf0f1;
  color: #0077B5;
  box-shadow: 0 0 10px #0077B5;
}
.article_social .links .social.linkedin:hover i {
  color: #0077B5;
}
.article_social .links .social.link:hover {
  border-color: #ecf0f1;
  box-shadow: 0px 3px 8px 0px #1bbc9b, 0px -3px 8px 0px #9a59b5, 3px 0px 8px 0px #1bbc9b, -3px 0px 8px 0px #9a59b5;
  background: linear-gradient(45deg, #2dcc70, #1bbc9b, #9a59b5, #e84c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.article_social .links .social.link:hover i {
  color: #0077B5;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.notifier {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #222;
  z-index: 990;
  border-radius: 10px;
  transform: translateY(100%);
  transition: 0.05s linear;
  opacity: 0;
}
.notifier.show {
  transition: 0.1s linear;
  opacity: 1;
  transform: translateY(0);
}
.notifier.fade {
  animation: fadeOut 1s linear;
}
.notifier p, .notifier span {
  color: #ecf0f1;
}

footer {
  padding-bottom: 100px;
}
footer .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .tags .tag {
  padding: 4px 8px;
  margin: 5px;
  border-radius: 6px;
  background: #9a59b5;
  border-bottom: 4px solid #8d44ad;
  display: flex;
  justify-content: center;
  color: #ecf0f1;
}
footer .tags .tag:hover {
  margin-bottom: 1px;
  border-bottom: 4px solid #8d44ad;
}
footer .author_bio {
  border: 1px solid #bec3c7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}
footer .author_bio .author_bio_main {
  padding: 10px 20px;
}
footer .author_bio .author_bio_main .author_bio__names h3 {
  margin-top: 0;
}
footer .author_bio .author_bio_main .author_bio__outward p {
  padding: 0;
}
footer .author_bio .author_bio__profile {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .author_bio .author_bio__profile img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}
footer .author_bio .author_bio__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;
}
footer .author_bio .author_bio__social .social {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
footer .author_bio .author_bio__social .social.twitter:hover {
  color: #1DA1F2;
}
footer .author_bio .author_bio__social .social.twitter:hover i {
  color: #1DA1F2;
}
footer .author_bio .author_bio__social .social.facebook:hover {
  color: #4267B2;
}
footer .author_bio .author_bio__social .social.facebook:hover i {
  color: #4267B2;
}
footer .author_bio .author_bio__social .social.instagram:hover {
  color: #e1306c;
}
footer .author_bio .author_bio__social .social.instagram:hover i {
  color: #e1306c;
}
footer .author_bio .author_bio__social .social.linkedin:hover {
  color: #0077B5;
}
footer .author_bio .author_bio__social .social.linkedin:hover i {
  color: #0077B5;
}

.author_bio__container {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 100px;
}

.read_more {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.read_more__lables {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.other_posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.other_posts > * {
  flex: 1;
  margin: 0 20px;
  max-width: 48vw;
}

.modify {
  padding: 0 20px;
  border: 1px solid #bec3c7;
  border-radius: 10px;
}

.post {
  transition: 0.2s linear;
  border: 1px solid #bec3c7;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  margin: 20px 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.post a {
  border-radius: 20px 20px 0 0;
}
.post .image {
  transition: 0.2s linear;
  flex: 1;
  background: white;
  text-align: center;
  max-height: 350px;
  position: relative;
  margin: 0;
}
.post .image img {
  transition: 0.2s linear;
  height: 350px;
  width: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  box-shadow: 6px 0 14px rgba(0, 0, 0, 0.4);
}
.post .post_details {
  transition: 0.2s linear;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}
.post .post_details .post_details_primary {
  flex: 2;
}
.post .post_details .post_details_primary h3 {
  margin-top: 0;
}
.post .post_details .post_details_primary .read_button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.post .post_details .post_details_primary .read_button a {
  transition: 0.1s linear;
  border: 1px solid #bec3c7;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.2s linear;
  background: rgba(0, 0, 0, 0);
}
.post .post_details .post_details_primary .read_button a i {
  transition: 0.1s linear;
  transition: 0.2s linear;
  background: rgba(0, 0, 0, 0);
}
.post .post_details .post_details_primary .read_button a:hover {
  background: linear-gradient(45deg, #1bbc9b, #9a59b5);
  color: #ecf0f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.post .post_details .post_details_primary .read_button a:hover i {
  color: #ecf0f1;
}
.post .post_details .post_details_meta {
  padding-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post .post_details .post_details_meta .post_details_author {
  margin-top: 0;
}
.post .post_details .post_details_meta .post_details_read_time {
  margin-top: 8px;
}
.post .post_details > * {
  padding: 0;
}
.post .post_details p {
  margin: 0;
  padding: 0;
}
.post:hover {
  border: 1px solid #ecf0f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 5px 0 20px rgba(0, 0, 0, 0), -5px 0 20px rgba(0, 0, 0, 0);
}
.post.experimental {
  margin: 30px 0;
}
.post.experimental .image {
  background: none;
}
.post.experimental .image img {
  border-radius: 4px;
  width: 94%;
  transform: translateY(-10px);
}

.large {
  grid-column: 1/-1;
}

.medium_left {
  grid-column: 1/-2;
}

.medium_right {
  grid-column: 2/-1;
}

.small_left {
  grid-column: 1;
}

.small_center {
  grid-column: 2;
}

.small_right {
  grid-column: 3;
}

@media only screen and (max-width: 700px) {
  article.main {
    width: 90vw;
    padding: 0;
  }

  footer .author_bio {
    flex-direction: column;
  }
  footer .author_bio .author_bio__social {
    flex-direction: row;
    padding-bottom: 20px;
  }

  .other_posts {
    flex-direction: column;
  }
  .other_posts .post {
    flex-direction: column;
  }
  .other_posts .post .image img {
    height: 150px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  }
  .other_posts .post .post_details .post_details_meta {
    padding: 0;
    margin-top: 10px;
  }
  .other_posts .post .post_details .post_details_meta div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .other_posts .post .post_details .post_details_meta div * {
    margin: 0;
  }
  .other_posts > * {
    max-width: 96vw;
  }
}
@media only screen and (max-width: 950px) {
  .details {
    justify-content: center;
  }

  .main {
    width: 75vw;
  }
}

/*# sourceMappingURL=css/show.css.map */
