textarea {
  color: #2d3e50;
  min-height: 100px;
  flex: 1;
}

input {
  border: none;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 95vw;
  margin: 100px auto 0 auto;
}

.form_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2;
}

.header_image {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_image .header_image__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.header_image .header_image__inputs input {
  padding: 10px;
}
.header_image .header_image__inputs input.header_image--alt {
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.header_image .header_image__inputs input.header_image--src {
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.header_image .header_image--preview {
  max-height: 200px;
  max-width: 50%;
}

.input, .title, .subtitle, .tags {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 0;
  border: 1px solid #bec3c7;
  border-radius: 10px;
  background: #e2e8e9;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.04);
}
.input .alignment, .title .alignment, .subtitle .alignment, .tags .alignment {
  border: 1px dashed tomato;
}

.title {
  padding: 5px;
}
.title input {
  font-size: 24px;
  text-align: center;
  background: #e2e8e9;
  border-radius: 10px;
  padding: 5px;
}

.subtitle {
  padding: 5px;
}
.subtitle textarea {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.tags {
  padding: 5px;
}
.tags input {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #95a5a5;
}
.tags input:focus {
  color: black;
}

.text_input input, .code_input input {
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.text_input textarea, .code_input textarea {
  border-radius: 0 0 10px 10px;
  padding: 5px;
}
.text_input .subhead, .code_input .subhead {
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.quote_input input {
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.quote_input input.quote_input--author {
  border-radius: 0 0 10px 10px;
}
.quote_input textarea {
  padding: 5px;
  flex: 1;
}
.quote_input .subhead {
  padding: 10px;
  border-radius: 10px 10px;
}
.quote_input .quote_input__container {
  display: flex;
  flex-direction: column;
}

.image_input input {
  padding: 10px;
}
.image_input input.image_input--alt {
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.image_input input.image_input--src {
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.image_input .subhead {
  padding: 10px;
  border-radius: 10px 10px;
}
.image_input .image_input__container {
  display: flex;
  flex-direction: row;
}
.image_input .image_input__container .image_input__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_input .image_input__container .image_input__preview {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_input .image_input__container .image_input__preview .image_input__preview--img {
  max-width: 100%;
  max-height: 300px;
}

.align {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0 5px 10px;
}
.align label div {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.align .align_radio {
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 5px;
  left: 5px;
}
.align li {
  display: inline-block;
  border: 1px solid rgba(27, 188, 155, 0.5);
  border-radius: 10px;
  transition: 0.1s linear;
}
.align li.align_active {
  border: 1px solid #16a086;
  background: rgba(27, 188, 155, 0.5);
}
.align li:hover {
  background: rgba(27, 188, 155, 0.2);
}
.align * {
  color: black;
}

.align_icon_1 {
  fill: #fff;
}

.align_icon_2, .align_icon_4 {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 7px;
}

.align_icon_2 {
  stroke: #7e8c8d;
  stroke-linecap: square;
  stroke-dasharray: 9.77 9.77;
}

.align_icon_3 {
  fill: #3c97d3;
}

.align_icon_4 {
  stroke: #297fb9;
  stroke-linecap: round;
}

.Layer_1 {
  width: 50px;
  height: 50px;
}

.input_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.input_control .control_drag {
  width: 25px;
  height: 25px;
  background: #bec3c7;
  border: 1px solid #bec3c7;
  color: #7e8c8d;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}
.input_control .control_drag:hover {
  color: #545e5f;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.input_control .control_text {
  color: black;
  padding: 0;
  margin: 0;
}
.input_control .control_delete {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.25s linear;
  cursor: pointer;
}
.input_control .control_delete:hover {
  border: 1px solid #bec3c7;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.input.large {
  grid-column: 1/-1;
}
.input.medium_left {
  grid-column: 1/-2;
}
.input.medium_right {
  grid-column: 2/-1;
}
.input.small_left {
  grid-column: 1;
}
.input.small_center {
  grid-column: 2;
}
.input.small_right {
  grid-column: 3;
}

.form_submit {
  grid-column: 3;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.form_submit button {
  border: 3px solid rgba(0, 0, 0, 0);
  min-width: 75px;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}
.form_submit button.save {
  background: rgba(0, 0, 0, 0);
  color: #2dcc70;
}
.form_submit button.save:hover {
  border: 3px solid #2dcc70;
  text-decoration: underline;
  color: #27ae61;
}
.form_submit button.submit {
  border: 3px solid #2dcc70;
  background: #27ae61;
  color: #ecf0f1;
}
.form_submit button.submit:hover {
  text-decoration: underline;
  border: 3px solid #27ae61;
  background: #2dcc70;
  color: #ecf0f1;
}
.form_submit .update_note textarea {
  min-height: 10px;
  max-height: 50vh;
  height: 10vh;
  width: calc(95vw / 5);
}
.form_submit.sticky {
  position: static;
  flex-direction: row;
  grid-column: 2;
}

.new_buttons {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
}
.new_buttons button {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  min-width: 75px;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 10px;
  margin: 10px;
  border: 3px solid #9a59b5;
  background: #8d44ad;
  color: #ecf0f1;
  cursor: pointer;
  transition: 0.2s linear;
}
.new_buttons button:hover {
  text-decoration: underline;
  border: 3px solid #8d44ad;
  background: #9a59b5;
  color: #ecf0f1;
}

#page_check {
  position: fixed;
  top: 0;
  right: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}

.image_control--container {
  display: none;
}
.image_control--container.open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.image_control--container.open .image_control {
  width: 70vw;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 100px 0;
  position: relative;
}
.image_control--container.open .image_control .image_control__Close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
  color: #2d3e50;
}
.image_control--container.open .image_control .image_control__Close:hover {
  border: 1px solid #bec3c7;
}
.image_control--container.open .image_control .image_control__header {
  display: flex;
  align-items: center;
}
.image_control--container.open .image_control .image_control__header .image_control__header--title {
  padding: 5px 30px;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image {
  display: inline-block;
  margin: 0;
  width: initial;
  width: auto;
  width: 70px;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__input {
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label {
  transition: 0.2s linear;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label * {
  transition: 0.15s linear;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label svg {
  height: 35px;
  width: 35px;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-1, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-3, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-5, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-7 {
  fill: none;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-2 {
  fill: #e7eced;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-3 {
  stroke: #231f20;
  stroke-width: 9px;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-3, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-5, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-7 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-4 {
  fill: #27ae61;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-5, .image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-7 {
  stroke: #000;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-5 {
  stroke-width: 5px;
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-6 {
  clip-path: url(#clip-path);
}
.image_control--container.open .image_control .image_control__header form.new_cloudinary_image .new_cloudinary_image__label:hover svg .newImageIcon-7 {
  stroke-width: 8px;
}
.image_control--container.open .image_control .cloudinary_images {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  border-radius: 20px;
  margin: 25px auto;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 65vw;
  grid-gap: 5px;
}
.image_control--container.open .image_control .cloudinary_images .image_selection {
  width: 100%;
  border: 1px solid #bec3c7;
  background: #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition: 0.1s linear;
}
.image_control--container.open .image_control .cloudinary_images .image_selection .image_selection__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(236, 240, 241, 0.7);
}
.image_control--container.open .image_control .cloudinary_images .image_selection .image_selection__delete:hover {
  background: #c1392b;
}
.image_control--container.open .image_control .cloudinary_images .image_selection .image_selection__thumb img {
  max-width: 100%;
  max-height: 100px;
}
.image_control--container.open .image_control .cloudinary_images .image_selection .image_selection__details .image_selection__title {
  font-weight: bold;
  word-break: break-all;
  font-size: 12px;
  padding: 0 10px;
}
.image_control--container.open .image_control .cloudinary_images .image_selection .image_selection__details .image_selection__url {
  word-break: break-all;
  font-size: 12px;
}
.image_control--container.open .image_control .cloudinary_images .image_selection:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-color: #929aa0;
}

.refresh_cloudinary_image .refreshButton-1 {
  fill: #2D3E50;
  stroke: #2D3E50;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 9px;
}

.open_image_control--container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.open_image_control--container .open_image_control {
  transition: 0.2s linear;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  padding: 6px 10px;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.open_image_control--container .open_image_control:hover {
  background: #bec3c7;
  border-color: #2d3e50;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}
.open_image_control--container .open_image_control:active {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.autosave {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
}
.autosave .autosave_notification {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.autosave .autosave_notification p {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  padding: 0;
  flex-wrap: nowrap;
}
.autosave .autosave_alert {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.autosave .autosave_alert button {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 0;
  flex-wrap: nowrap;
  color: #fff;
  border: 3px solid #c14b2b;
  background: #e84c3d;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
.autosave .autosave_alert button:hover {
  border-color: #e84c3d;
  background: #e84c3d;
  text-decoration: underline;
}
.autosave .autosave_alert button:active {
  background: #c14b2b;
}
.autosave .autosave_window {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 50px;
}
.autosave .autosave_window .descriptor {
  grid-column: 1/-1;
  padding: 20px;
  background: #fff;
}
.autosave .autosave_window .previous, .autosave .autosave_window .current {
  background: #fff;
  border-radius: 10px;
  min-width: 100px;
  min-height: 100px;
}
.autosave.none .autosave_notification {
  display: none;
}
.autosave.none .autosave_alert {
  display: none;
}
.autosave.none .autosave_window {
  display: none;
}
.autosave.notif .autosave_notification {
  display: inline-block;
}
.autosave.notif .autosave_alert {
  display: none;
}
.autosave.notif .autosave_window {
  display: none;
}
.autosave.alert .autosave_notification {
  display: none;
}
.autosave.alert .autosave_alert {
  display: flex;
}
.autosave.alert .autosave_window {
  display: none;
}
.autosave.open {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.autosave.open .autosave_notification {
  display: none;
}
.autosave.open .autosave_alert {
  display: flex;
}
.autosave.open .autosave_window {
  display: grid;
}

.drag_active {
  border: 1px solid skyblue;
  background: linear-gradient(45deg, #bec3c7, #ecf0f1);
  box-shadow: 0px 24px 36px rgba(0, 0, 0, 0.11), 0px 24px 46px rgba(20, 33, 55, 0.28);
}
.drag_active > * {
  opacity: 0.35;
}

@media only screen and (max-width: 1000px) {
  .image_control--container.open .image_control .cloudinary_images {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  form {
    grid-template-columns: 30px 1fr 30px;
  }
}
@media only screen and (max-width: 764px) {
  .image_control--container.open .image_control .cloudinary_images {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=css/posts/create.css.map */
