<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/posts/create.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <form action="/posts/new" method="POST" class="form">
      <div class="form_body">
        <div class="header_image">
          <div class="header_image__inputs">
            <input type="text" name="header_image[src]" placeholder="Header Image Link" class="header_image--src" />
            <input type="text" name="header_image[caption]" placeholder="Image Caption" class="header_image--caption" />
            <input type="text" name="header_image[alt]" placeholder="Alt text for Screen Readers" class="header_image--alt" />
          </div>
          <img src="https://static.umotive.com/img/product_image_thumbnail_placeholder.png" alt="Default image" class="header_image--preview" />
        </div>
        <div class="title">
          <input type="text" name="title" placeholder="The title of the post, will default to 'Blog Post' if left blank." />
        </div>
        <div class="subtitle">
          <textarea name="subtitle" placeholder="A subtitle for the post, leave blank to ommit."></textarea>
        </div>
        <div class="tags">
          <input type="text" name="tags" placeholder='Tags, comma seperated (e.g "design, london, something else")'>
        </div>



        <div class="input text_input input_0 large" data-type="paragraph">
          <div class="input_control">
            <div class="control_drag control_drag_0" data-drag="drag_0">☰</div>
            <p class="control_text">Paragraph 0 Input</p>
            <button class="control_delete">✖</button>
          </div>

          <input name="inputs[0][paragraph]" value="paragaph" hidden />

          <ul class="align">
            <li title="Full sized" data-align="large" class="align_active">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="large" class="align_radio" checked="true" />
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Left." data-align="medium_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="medium_left" class="align_radio">
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Right." data-align="medium_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="medium_right" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Left." data-align="small_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="small_right" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified in the Middle." data-align="small_center">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="small_center" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Right." data-align="small_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[0][align]" value="small_right" class="align_radio">
              </label>
            </li>
          </ul>

          <input placeholder="Subheading, leave blank to omit." name="inputs[0][subhead]" class="subhead" />
          <textarea name="inputs[0][text]" placeholder="body"></textarea>
        </div>

        <div class="input text_input input_1 large" data-type="paragraph">
          <div class="input_control">
            <div class="control_drag control_drag_1" data-drag="drag_1">☰</div>
            <p class="control_text">Paragraph 1 Input</p>
            <button class="control_delete">✖</button>
          </div>

          <input name="inputs[1][paragraph]" value="paragaph" hidden />

          <ul class="align">
            <li title="Full sized" data-align="large" class="align_active">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[1][align]" value="large" class="align_radio" />
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Left." data-align="medium_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[1][align]" value="medium_left" class="align_radio">
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Right." data-align="medium_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[1][align]" value="medium_right" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Left." data-align="small_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[1][align]" value="small_left" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified in the Middle." data-align="small_center">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                  <input type="radio" name="inputs[1][align]" value="small_center" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Right." data-align="small_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[1][align]" value="small_right" class="align_radio">
              </label>
            </li>
          </ul>

          <input placeholder="Subheading, leave blank to omit." name="inputs[1][subhead]" class="subhead" />
          <textarea name="inputs[1][text]" placeholder="body"></textarea>
        </div>

        <div class="input image_input input_2 large" data-type="image">
          <div class="input_control">
            <div class="control_drag control_drag_2" data-drag="drag_2">☰</div>
            <p class="control_text">Image 2 Input</p>
            <button class="control_delete">✖</button>
          </div>

          <input name="inputs[2][paragraph]" value="paragaph" hidden />

          <ul class="align">
            <li title="Full sized" data-align="large" class="align_active">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="large" class="align_radio" checked="true" />
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Left." data-align="medium_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="medium_left" class="align_radio">
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Right." data-align="medium_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="medium_right" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Left." data-align="small_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="small_left" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified in the Middle." data-align="small_center">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="small_center" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Right." data-align="small_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[2][align]" value="small_right" class="align_radio">
              </label>
            </li>
          </ul>

          <input placeholder="Subheading, leave blank to omit." name="inputs[2][subhead]" class="subhead" />

          <div class="image_input__container">
            <div class="image_input__group">
              <input name="inputs[2][src]" class="image_input--src" placeholder="Image Link" title="Copy in the link of the image, you should see a preview appear if the link is ok." />
              <input name="inputs[2][caption]" class="image_input--caption" placeholder="Caption" title="An optional caption to go with the image.">
              <input name="inputs[2][alt]" class="image_input--alt" placeholder="Alt-text (for Screen Readers)" title="Add a description of the image. This will be shown if the image breaks and is also what screen-readers will 'see'.">
            </div>
            <div class="image_input__preview">
              <img src="https://res.cloudinary.com/oddert/image/upload/v1558647163/jrcbpdcyiqocsxyjobuv.jpg" alt="placeholder image" title="Image Preview" class="image_input__preview--img image_input__preview_2--img" />
            </div>
          </div>
        </div>

        <div class="input text_input input_3 large" data-type="paragraph">
          <div class="input_control">
            <div class="control_drag control_drag_3" data-drag="drag_3">☰</div>
            <p class="control_text">Paragraph 3 Input</p>
            <button class="control_delete">✖</button>
          </div>

          <input name="inputs[3][paragraph]" value="paragaph" hidden />

          <ul class="align">
            <li title="Full sized" data-align="large" class="align_active">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="large" class="align_radio" checked="true" />
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Left." data-align="medium_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="medium_left" class="align_radio">
              </label>
            </li>
            <li title="Medium sized (spanning two columns), justified Right." data-align="medium_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="medium_right" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Left." data-align="small_left">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="small_left" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified in the Middle." data-align="small_center">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="small_center" class="align_radio">
              </label>
            </li>
            <li title="Small sized (just one column), justified Right." data-align="small_right">
              <label>
                <div class="align_option__icon">
                  <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271.04 77.87">
                    <g>
                      <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                    </g>
                    <g>
                      <rect class="align_icon_3" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      <rect class="align_icon_4" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                    </g>
                  </svg>
                </div>
                <input type="radio" name="inputs[3][align]" value="small_right" class="align_radio">
              </label>
            </li>
          </ul>

          <input placeholder="Subheading, leave blank to omit." name="inputs[3][subhead]" class="subhead" />
          <textarea name="inputs[3][text]" placeholder="body"></textarea>
        </div>


      </div>


      <div class="new_buttons">
        <button class="new new_paragraph" name="new_paragraph">New Paragraph</button>
        <button class="new new_image" name="new_image">New Image</button>
        <button class="new new_quote" name="new_quote">New Quote</button>
        <button class="new new_code" name="new_code">New Code Snippet</button>
      </div>
      <div class="form_submit">
        <input type="checkbox" name="page" id="page_check" />
        <button class="dev_toggle">Dev Mode: OFF</button>
        <button class="sample_data">Sample Data</button>
        <button class="save">Save</button>
        <button class="submit">Submit</button>
      </div>
    </form>
    <div class="image_control--container">
      <div class="image_control">
        <button class="image_control__Close">✖</button>
        <div class="image_control__header">
          <h3 class="image_control__header--title">Images on the Cloud:</h3>
          <form class="new_cloudinary_image" action="/api/images" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" class="new_cloudinary_image__input" id="new_cloudinary_image__input" value="New Image +" />
            <label for="new_cloudinary_image__input" class="new_cloudinary_image__label icon" title="select an image file to upload">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 211.45 210.02">
                <clipPath id="clip-path" transform="translate(-131.05 -147.69)">
                  <rect class="newImageIcon-1" x="168.27" y="206.99" width="114.94" height="114.94" rx="14.71" ry="14.71"/>
                </clipPath>
                <g>
                  <rect class="newImageIcon-2" x="23.82" y="45.9" width="141.73" height="141.73" rx="22.68" ry="22.68"/>
                  <rect class="newImageIcon-3" x="23.82" y="45.9" width="141.73" height="141.73" rx="22.68" ry="22.68"/>
                </g>
                <circle class="newImageIcon-2" cx="165.55" cy="45.9" r="45.9"/>
                <rect class="newImageIcon-4" x="159.14" y="13.48" width="12.82" height="64.85" rx="6.41" ry="6.41"/>
                <rect class="newImageIcon-4" x="290.2" y="161.17" width="12.82" height="64.85" rx="6.41" ry="6.41" transform="translate(-28.04 342.51) rotate(-90)"/>
                <path class="newImageIcon-5" d="M202,219.86s9.31,0,12.61,8-1.56,19.8-1.56,19.8-5.24,13.29-11,13.95c-5.8-.66-11-13.95-11-13.95s-4.86-11.71-1.56-19.8S202,219.86,202,219.86Z" transform="translate(-131.05 -147.69)"/>
                <g class="newImageIcon-6">
                  <g>
                    <circle class="newImageIcon-7" cx="70.92" cy="139.1" r="16.59"/>
                    <path class="newImageIcon-7" d="M202,219.86s9.31,0,12.61,8-1.56,19.8-1.56,19.8-5.24,13.29-11,13.95c-5.8-.66-11-13.95-11-13.95s-4.86-11.71-1.56-19.8S202,219.86,202,219.86Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M202,353.71s-9.31,0-12.61-8,1.56-19.8,1.56-19.8,5.24-13.29,11-13.95c5.8,0.66,11,13.95,11,13.95s4.86,11.71,1.56,19.8S202,353.71,202,353.71Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M135.05,286.78s0-9.31,8-12.61,19.8,1.56,19.8,1.56,13.29,5.24,13.95,11c-0.66,5.8-13.95,11-13.95,11s-11.71,4.86-19.8,1.56S135.05,286.78,135.05,286.78Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M268.9,286.78s0,9.31-8,12.61-19.8-1.56-19.8-1.56-13.29-5.24-13.95-11c0.66-5.8,13.95-11,13.95-11s11.71-4.86,19.8-1.56S268.9,286.78,268.9,286.78Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M154.66,239.46s6.56-6.61,14.61-3.22,12.89,15.11,12.89,15.11,5.69,13.1,2.06,17.67c-4.57,3.64-17.67-2.06-17.67-2.06s-11.72-4.85-15.11-12.89S154.66,239.46,154.66,239.46Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M249.3,334.1s-6.56,6.61-14.61,3.22-12.89-15.11-12.89-15.11-5.69-13.1-2.06-17.67c4.57-3.64,17.67,2.06,17.67,2.06s11.72,4.85,15.11,12.89S249.3,334.1,249.3,334.1Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M154.66,334.1s-6.61-6.56-3.22-14.61,15.11-12.89,15.11-12.89,13.1-5.69,17.67-2.06c3.64,4.57-2.06,17.67-2.06,17.67s-4.85,11.72-12.89,15.11S154.66,334.1,154.66,334.1Z" transform="translate(-131.05 -147.69)"/>
                    <path class="newImageIcon-7" d="M249.3,239.46s6.61,6.56,3.22,14.61S237.41,267,237.41,267s-13.1,5.69-17.67,2.06c-3.64-4.57,2.06-17.67,2.06-17.67s4.85-11.72,12.89-15.11S249.3,239.46,249.3,239.46Z" transform="translate(-131.05 -147.69)"/>
                  </g>
                </g>
              </svg>
            </label>
          </form>
          <button class="refresh_cloudinary_image icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.02 143.35">
              <polygon class="refreshButton-1" points="56.57 57.67 109.75 4.5 110.26 57.67 56.57 57.67"/>
              <path class="refreshButton-1" d="M557,257.84a53.41,53.41,0,1,1-15.64-37.76l4.31-4.31a59.51,59.51,0,1,0,17.43,42.08H557Z" transform="translate(-439.62 -178.49)"/>
            </svg>
          </button>
        </div>
        <div class="cloudinary_images">

        </div>
      </div>
    </div>
    <div class="open_image_control--container">
      <button class="open_image_control">Cloud Images <i class="fas fa-cloud-upload-alt"></i></button>
    </div>
    <div class="notifier" hidden>
      <p>Copied: "<span></span>" to clipboard.</p>
    </div>
  </body>
  <!-- <script type="text/javascript" src="/js/posts/create.js"></script> -->
  <script type="text/javascript" src="/js/posts/edit.js"></script>
  <script type="text/javascript" src="/js/posts/cloudinary.js"></script>
  <!-- <script type="text/javascript" src="/js/name.js"></script> -->
</html>
