<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/posts/create.css">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <form action="/posts/new" method="POST" class="form">
      <div class="form_body">
        <div class="header_image">
          <div class="header_image__inputs">
            <input type="text" name="header_image[src]" placeholder="Header Image Link" class="header_image--src" />
            <input type="text" name="header_image[caption]" placeholder="Image Caption" class="header_image--caption" />
            <input type="text" name="header_image[alt]" placeholder="Alt text for Screen Readers" class="header_image--alt" />
          </div>
          <img src="https://static.umotive.com/img/product_image_thumbnail_placeholder.png" alt="Default image" class="header_image--preview" />
        </div>
        <div class="title">
          <input type="text" name="title" placeholder="The title of the post, will default to 'Blog Post' if left blank." />
        </div>
        <div class="subtitle">
          <textarea name="subtitle" placeholder="A subtitle for the post, leave blank to ommit."></textarea>
        </div>
        <div class="tags">
          <input type="text" name="tags" placeholder='Tags, comma seperated (e.g "design, london, something else")'>
        </div>
      </div>
      <div class="new_buttons">
        <button class="new new_paragraph" name="new_paragraph">New Paragraph</button>
        <button class="new new_image" name="new_image">New Image</button>
        <button class="new new_quote" name="new_quote">New Quote</button>
        <button class="new new_code" name="new_code">New Code Snippet</button>
      </div>
      <div class="form_submit">
        <input type="checkbox" name="page" id="page_check" />
        <button class="dev_toggle">Dev Mode: OFF</button>
        <button class="sample_data">Sample Data</button>
        <button class="save">Save</button>
        <button class="submit">Submit</button>
      </div>
    </form>
  </body>
  <script type="text/javascript" src="/js/posts/create.js"></script>
  <!-- <script type="text/javascript" src="/js/name.js"></script> -->
</html>
