<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Posts | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="intro_card">
      <div class="intro_text">
        <h1>Hello. My Name is <strong>Robyn Veitch</strong></h1>
        <p>...and I'm a problem solver.</p>
      </div>
      <div class="intro_pic">
        <img src="/img/folio_intro_image.png" alt="A picture of the author." title="Oddert dot jay peg" />
      </div>
    </div>
    <div class="main">
      <% if (user) { %>
        <a href="/posts/new" class="new_post">Create a new Post</a>
      <% } %>
      <h2 class="title">View all posts</h2>
      <div class="posts experimental">
        <% posts.forEach(each => { %>
          <% include ../partials/post %>
        <% }) %>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
